<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div data-th-object="${weather}">
      <div class="container">
        <table border="1" style="width: 100%">
          <tr>
            <th>City</th>
            <th>Description</th>
            <th>Temperature (<span data-th-text="${units}"></span>)</th>
            <th>Weather Date time</th>
            <th>Sunrise Date time</th>
            <th>Sunset Date time</th>
          </tr>
          <tr>
            <td><img data-th-src="*{conditionList.get(0).icon}" /></td>
            <td data-th-text="*{conditionList.get(0).description}"></td>
            <td data-th-text="*{temperature}"></td>
            <td
              data-th-text="*{#dates.format(weatherTimeStamp * 1000, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td
              data-th-text="*{#dates.format(sunriseTimeStamp * 1000, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td
              data-th-text="*{#dates.format(sunsetTimeStamp * 1000 , 'dd-MM-yyyy HH:mm:ss')}"></td>
          </tr>
        </table>
        <!-- <img data-th-src="*{conditionList.get(0).icon}" />
        <p>City:</p>
        <p data-th-text="*{city}"></p>
        <p>Description:</p>
        <p data-th-text="*{conditionList.get(0).description}"></p>
        <p>Temperature:</p>
        <p data-th-text="*{temperature}"></p>
        Weather Date time:
        <p data-th-text="*{#dates.format(weatherTimeStamp * 1000, 'dd-MM-yyyy HH:mm:ss')}"></p>
        Sunrise Date time:
        <p data-th-text="*{#dates.format(sunriseTimeStamp * 1000, 'dd-MM-yyyy HH:mm:ss')}"></p>
        Sunset Date time:
        <p data-th-text="*{#dates.format(sunsetTimeStamp * 1000 , 'dd-MM-yyyy HH:mm:ss')}"></p> -->
      </div>
    </div>
  </body>
</html>
